<div class='row menu'>
    <div class="span12">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li class="active">
                            <a href="#">Início</a>
                        </li>
                        <li>
                            <a href="#">Legendas</a>
                        </li>
                        <li>
                            <a href="#">Projetos</a>
                        </li>
                        <li>
                            <a href="#">Fansubers</a>
                        </li>
                        <li>
                            <a href="#">Contribuir</a>
                        </li>
                        <li>
                            <a href="#">Sobre</a>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                        <li>
                            <a href="/admin/">Logar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
