.row.titulo {
    padding-top: 20px;
}

.row.projetos {
    padding-top: 10px;
}

.row.projetos div > *, .row.titulo div > * {
    margin-left: 34px;
}

.row.projetos ul.listagem {
    list-style: none outside none;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin-right: 34px;
    text-indent: 12px;
    font-size: 16px;
}

.row.projetos ul.listagem li {
    border-bottom: 1px solid #ddd;
    line-height: 30px;
}

.row.projetos ul.listagem li:last-child {
    border-bottom: none;
}

.row.projetos ul.listagem li span:last-child {
    float: right;
    margin-right: 16px;
}
