{% extends "base.html" %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}projetos/css/listagem_projetos.css">
{% endblock %}

{% block content %}
    <div class="row titulo">
        <div class="span12">
            <h1>Projetos</h1>
        </div>
    </div>
    <div class="row projetos">
        <div class="span12">
            <ul class="listagem">
                {% for projeto in projetos %}
                <li href="/projeto/{{ projeto.id }}/">
                        <span>{{ projeto.titulo }}</span>
                        <span>{{ projeto.genero }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        $('.projetos ul.listagem li').bind('click', function(){
            var $li = $(this);
            window.location = $li.attr('href');
        })
    </script>
{% endblock %}


