{% extends "base.html" %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}projetos/css/projeto.css">
{% endblock %}

{% block content %}
    <div class="row projeto-titulo">
        <div class="span12">
            <h1>{{ projeto.titulo }}</h1>
        </div>
    </div>
    <div class="row dados">
        <div class="span3 projeto-imagem">
            <img width="200" src="{{ projeto.imagem }}"/>
        </div>
        <div class="span9">
            <table class="projeto-dados table-bordered">
                <tr>
                    <td>Genero:</td>
                    <td>{{ projeto.genero }}</td>
                </tr>
                <tr>
                    <td>Total de episodios:</td>
                    <td>{{ projeto.total_episodios }}</td>
                </tr>
                <tr>
                    <td>Estúdio:</td>
                    <td>{{ projeto.estudio }}</td>
                </tr>
                <tr>
                    <td>Direção:</td>
                    <td>{{ projeto.direcao }}</td>
                </tr>
                <tr>
                    <td>Inicio da exibição:</td>
                    <td>{{ projeto.inicio_exibicao }}</td>
                </tr>
                <tr>
                    <td>Fim da exibição:</td>
                    <td>{{ projeto.fim_exibicao }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row legendas">
        <div class="span12">
            {% if projeto.legenda_set.all %}
                <table class="table table-bordered">
                    <thead>
                        <th>#</th>
                        <th>Fansub</th>
                        <th>Raws</th>
                        <th>Atualizado por</th>
                        <th>Link</th>
                    </thead>
                    {% for legenda in projeto.legenda_set.all|dictsort:"episodio" %}
                        <tr>
                            <td>{{ legenda.episodio }}</td>
                            <td>{% firstof legenda.fansub.nome or '----'%}</td>
                            <td>{% firstof legenda.raws '----' %}</td>
                            <td>{% firstof legenda.usuario '----' %}</td>
                            <td><a href="{{ legenda.url }}">download</a></td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                Não há legendas disponíneis.
            {% endif %}
        </div>
    </div>
{% endblock %}
