{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="span12">
            <ul>
                <li>
                    {{ projeto.titulo }}
                </li>
                <li>
                    {{ projeto.genero }}
                </li>
                <li>
                    {{ projeto.total_episodios }}
                </li>
                <li>
                    {{ projeto.estudio }}
                </li>
                <li>
                    {{ projeto.direcao }}
                </li>
                <li>
                    {{ projeto.inicio_exibicao }}
                </li>
                <li>
                    {{ projeto.fim_exibicao }}
                </li>
            </ul>
            <img src="{{ projeto.imagem }}"/>
        </div>
    </div>
{% endblock %}
